body {
background: rgba(2, 1, 8, 0.86);
}
#background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent url('./img/bgbig.jpg') no-repeat 50% 50%;
  background-size: 80%;
}
/*Bar with names n header*/
.header {
  position: relative;
  background: rgba(255,255,255,0.25);
  /*border: 2px solid red;*/
}
.header h1 {
  font-family: 'itc-avant-garde';
  font-size: 2em;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}
#happy {
  width: 50px;
  height: 50px;
  background: transparent;
  margin-right: 30px;
  vertical-align: middle;
}
.omar {
  color: black;
}
.vanessa {
    color: #a71e25;
}

/*Main frame*/
#container {
  position: absolute;  
  left: 7%;
  width: 90%;
  height: 80%;
}
.row_pics {
  position: relative;
  left: 5%;
  width: 90%;
  height: 20%;
  /*border: 2px solid green;*/
}
#row_top {
  top: 2%;
  margin-top: -2%;
}
/*#row_bottom {
  bottom: 5%;
}
.col_pics {
  position: absolute;
  top: 25%;
  width: 10%;
  height: 50%;
  display: inline-block;
  border: 2px solid green;
}
#col_left{
  left:5%;
}
#col_right{
  right:5%;
}*/
#container ul {

}
#container ul li {
  width: 90px;
  height: 90px;
  background-size: 100% 100%;
  border-radius: 30px;
}
.list_horizontal li {
  display: inline-block; 
  margin: 0px 15px 0px 15px;
  padding: 0;
}


/*All pics*/
#pictop1 {
  background: transparent url('./img/vyoung.jpg') no-repeat;
  } 
#pictop2 {
  background: transparent url('./img/papa.jpg') no-repeat;
  } 
#pictop3 {
  background: transparent url('./img/aladin.jpg') no-repeat;
  } 
#cake {
  background: transparent url('./img/cake.jpg') no-repeat;
}  
#pictop4 {
  background: transparent url('./img/vno_slovenia.jpg') no-repeat;
}  

#pictop5 {
  background: transparent url('./img/gq.jpg') no-repeat;

  } 
#pictop6 {
  background: transparent url('./img/oyoung.jpg') no-repeat;
  } 
